<head>
    <h1>Users List</h1>
</head>
<body>
    <div>
        <ul>
            {% for user in users %}
            <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
